<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Operation SSG</title>
        {{#unless dev}}
        <link rel="stylesheet" href="/style.css">
        {{/unless}}
    </head>
    <body>
        <div id="root"> </div>
        <script type="application/javascript" src="/bundle.js"></script>
    </body>
</html>